opencv-python==4.7.0.72
diffusers==0.19.3
torch==2.1.1
torchvision==0.16.1
transformers==4.34.0
timm==0.4.12
fairscale==0.4.4
invisible-watermark==0.1.5
kornia==0.7.1
scikit-learn==1.4.0
ftfy==6.1.1
datasets==2.4.0
accelerate==0.23.0
bchlib==0.7
tensorflow==2.13.0
matplotlib==3.7.1
seaborn==0.12.2
openai-clip==1.0.1